
<div id="index_main">
	<div id="photo">
		<img src="<%=theme.photo%>">
	</div>
	<div id="info">
		<h2><%=theme.author%></h2>
		<p>
			<% Object.keys(theme.introduction).forEach(function(key) { %>
				<%=theme.introduction[key]%>
				<br />
		    <% }); %>
		</p>
		<p class="contact">
			<% Object.keys(theme.contact).forEach(function(key) { %>
			<a href="<%=theme.contact_address[key]%>" target="_blank" alt="<%=theme.contact[key]%>">
				<i class="fa fa-<%=theme.contact_logo[key]%>"></i>
			</a>
	    	<% }); %>
		</p>
	</div>
</div>
<div id="index_menu">
	<div class="menu_box">
	<% Object.keys(theme.menu).forEach(function(key) { %>
		<a href="<%=theme.menu[key]%>" max-width='100px';
    max-height='100px;'>
    		<canvas class="menu_canvas"></canvas>
			<span class="<%=key%>_span"><span><%=key%></span></span>
		</a>
		
    <% }); %>
    </div>
</div>

<% if (theme.index_scripts !== undefined && theme.index_scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.index_scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>
